
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #7AE653;
    margin-top: 4rem;
}
p{
    font-size: 1.2rem;
    font-weight: bold;
}
